@import'./variables.scss';

.App{
    min-height: 250vh !important;
    background-color:$color-main ;
   
}

// general styles 

.hovered-text{
    color:$color-green !important ;
    transition: color .3s linear !important;
}
.hovered-text:hover{
  
   color: $color-white!important;
 
}

.btn-special{
    border:1px solid  $color-green;
    border-radius: 5px;
   background-color: $color-main;
    text-align: center;
   transition:  background-color .3s linear !important;
   color: $color-green !important;
    a{
        color: $color-green !important;
        padding: 10px 25px;
        
    }
}

.btn-special:hover{
    background-color: $color-hovered-green;
}



.color-white{
    color:$color-white
}
.color-grey{
    color:$color-grey !important
}
.color-green{
    color:$color-green
}


.ruler{
    width: 250px;
    border: .5px solid #c4ffdd67;
    height: 0px;
}

::-webkit-scrollbar{
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: $color-main;
  }


  ::-webkit-scrollbar-thumb {
    background-color: $color-green;
    border-radius: 5px;
   
    
 
  

  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #8ddcaf;
  }


