
@import "../../variables.scss";

.work{
  min-height: 100vh;
 
   display: flex;
  justify-content:center;
  align-items: center;
.row{
  --bs-gutter-x: auto;
}
    .content{
   width: 100%;
        @media (min-width:900px) {
            max-width: 900px;
          }
    }
   


}